<!DOCTYPE html>
<html lang="en">

<head>
  
  <%- include("../components/head.ejs") %>

</head>

<body>
  <%- include("../components/header.ejs") %>
  <section class="container-md mt-3">
      <main>
        <h1><%= pageTitle %></h1>
        <% if (errorMessage) { %>
          <p style="color: red; text-align: start;">
            <%= errorMessage %>
          </p>
          <% } %>
            <form action="<%= formAction %>" method="POST" id="question-form" enctype="multipart/form-data">
              <div class="form-control">
                <label for="challengeTitle">Question title</label>
                <input type="text" id="challengeTitle" name="challengeTitle" value="<%= question.title || '' %>" required /> 
              </div>
              <div class="form-control">
                <label for="description"><% if (isEdit) { %>Description<% } else { %>PLACEHOLDER<% } %></label>
                <textarea name="description" id="description" rows="5" required><%= question.description || '' %></textarea>
              </div>
              <div class="form-control">
                <label for="image">Related image</label>
                <input type="file" id="image" name="image" accept="image/*" />
              </div>
              <button><%= buttonText %></button>
              <%= question.votes %>
            </form>
      </main>
      <section>
</body>

</html>
